#nav {
    display: flex;
    text-align: left;
    align-items: center;
    background-color: rgb(58, 143, 253);
    min-height: 8vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav_links li:hover {
    text-decoration: underline;
    color: white;
}

.logo{
    text-align: left;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 1.2rem;
    margin-left: 5%;
}

.nav_links{
    display: flex;
    justify-content: space-around;
    text-align: left;
    width: 30%;
    margin-top: 0.6%;
}

.nav_links a{
    text-decoration: none;
    letter-spacing: 0.2rem;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}

.nav_links li{
    list-style: none;
}

.burger{
    display: none;
} 

.burger div{
    width: 1.5rem;
    height: 0.2rem;
    background-color: white;
    margin: 0.3rem;
    transition: all 0.3s ease;

}

@media screen and (max-width: 1800px){
     .nav_links{
            width: 60%;
        }
    }

@media screen and (max-width: 900px){
    body {
        overflow-x: hidden;
    }
    .nav_links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(58, 143, 253);
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    
    .nav_links li{
        opacity: 0;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
}

.nav_active{
        transform: translateX(0%);
    }

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
    
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

.big2 {
    display: flex;
}

.big {
    display: flex;
    margin-top: 12vh;
}

.img {
    width: 100px;
}

#dropdownMenuButton {
    width: 100%;
    background-color: rgb(102, 158, 233) !important;
    color: white;
    z-index: 2 !important;
}

.dropdown-menu {
    width: 100%;
}

#journey-name {
    text-align: left;
    font-size: 16px;
    margin-top: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#thead1 {
    background-color: rgb(102, 158, 233) !important;
    font-size: 13px !important;
}

#tbody1 {
    font-size: 13px !important;
}

#admin-form {
    margin-top: 12vh;
}

.add-form {
    margin-top: 3% !important;
    font-size: 20px;
    color: rgb(58, 143, 253);
    text-shadow: -1px -1px 0 rgb(43, 105, 187), 1px -1px 0 rgb(43, 105, 187), -1px 1px 0 rgb(43, 105, 187), 1px 1px 0 rgb(43, 105, 187);

}

#submit {
    margin-top: 1.5%;
}

#admin-text {
    margin-top: 12vh !important;
}

@media screen and (max-width: 700px) {
    #submit {
        margin-top: 3%;
    }
}

@media screen and (max-width: 400px) {
    #submit {
        margin-top: 5%;
    }
}
#submit2 {
    margin-top: 2%;
}

.formp {
    margin-top: 1%;
    font-weight: bold;
}

.form-control {
    width: 100% !important;
}

#table1 {
    width: 100%;
}

.container {
    margin-left: 1% !important;
}

#dropdown1 {
    cursor: pointer;
}

#dropdown2 {
    cursor: pointer;
}

.box {
    width: auto;
    min-height: 150px;
    border: 5px  solid rgb(58, 143, 253);
    padding: 20px;
    height: auto;
    margin-bottom: 3%;
}

@media screen and (max-width: 1200px) {
    .big {
        display: block;
    }

    #table2 {
        margin-top: 3% !important;
    }
}

#table2 {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

#table2 caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  #table2 tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  #table2 th,
  #table2 td {
    padding: .625em;
    text-align: center;
  }
  
  #table2 th {
    font-size: .75em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 990px) {
    #table2 {
      border: 0;
      margin-top: 5%;
    }
  
    #table2 caption {
      font-size: 1.3em;
    }
    
    #table2 thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    #table2 tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    #table2 td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    #table2 td::before {
     
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    #table2 td:last-child {
      border-bottom: 0;
    }
  }

  #table1 {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  #table1 caption {
      font-size: 1.2em;
      margin: .5em 0 .75em;
    }
    
    #table1 tr {
      background-color: #f8f8f8;
      border: 1px solid #ddd;
      padding: .35em;
    }
    
    #table1 th,
    #table1 td {
      padding: .625em;
      text-align: center;
    }
    
    #table1 th {
      font-size: .75em;
      letter-spacing: .1em;
      text-transform: uppercase;
    }
    
    @media screen and (max-width: 990px) {
      #table1 {
        border: 0;
        margin-top: 3%;
      }
    
      #table1 caption {
        font-size: 1.3em;
      }
      
      #table1 thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      
      #table1 tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
      }
      
      #table1 td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
      }
      
      #table1 td::before {
       
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }
      
      #table1 td:last-child {
        border-bottom: 0;
      }
    }
  
  .para {
    font-size: 20px;
  }

  @media screen and (max-width: 560px) {
    .para {
      font-size: 15px;
    }
  }
  
@media screen and (max-width: 1500px) {
  #table1 th {
    font-size: 0.65em;
  }

  #table2 th {
    font-size: 0.65em;
  }

  .btn {
    font-size: 0.65em !important;
  }

  .img {
    width: 75px;
  }
}

@media screen and (max-width: 1350px) {

  #table1 th {
    font-size: 0.55em;
  }

  #table2 th {
    font-size: 0.55em;
  }
}
